section.header {
	background: $colour-primary;

	.logo {
		display: block;
		margin: 35px 0;
	}

	.user-actions {
		color: #fff;
		margin: 32px 0 0 0;
		text-align: right;

		.glyphicon {
			font-size: 2em;
		}

		.hi-icon {
			margin-left: 25px;
		}

		.glyphicon-user {
			&:before {
				left: -1px;
			}
		}

		.glyphicon-log-in {
			&:before {
				left: -2px;
			}
		}
	}

	.breadcrumbs {
		background: $colour-secondary;
		padding: 15px 0 15px 30px;

		ol {
			background: none;
			margin: 0;
			padding: 0;
		}

		a {
			color: #fff;
			font-weight: 600;
			text-transform: uppercase;
		}
	}
}
