section.header {
	background: $colour-secondary;
	padding-top: 25px;
	padding-bottom: 25px;

	.logo {
		background: url("/themes/grapevine/img/logo.png") no-repeat;
		height: 27px;
		width: 196px;

		a {
			display: block;
			height: 100%;
			text-indent: -10000em;
			width: 100%;
		}
	}
}
