section.header {
	background: $colour-primary;
	padding-top: 25px;
	padding-bottom: 25px;

	.navbar {
		min-height: inherit;
		margin-bottom: 0;
	}

	.navbar-brand {
		height: auto;
		width: auto;
		padding: 0;
	}

	.navbar-nav {
		float: right;
	}
}
