input[type=submit],
input[type=button],
button,
.button {
	@include transition(background, 0.15s);

	background: $colour-tertiary;
	border: none;
	border-radius: $default-radius;
	color: #fff;
	display: inline-block;
	padding: 8px 20px;
	width: auto;

	&:hover {
		background: lighten($colour-tertiary, 5%);
	}
}

header {
	.buttons {
		display: inline-block;
		margin-left: 25px;
		position: relative;
		top: -2px;

		.button {
			font-size: 80%;
			padding: 2px 10px;
		}
	}
}