// Colours
$colour-primary: #353638;
$colour-secondary: #286794;
$colour-tertiary: #df8f1d;
$colour-error: #CC0000;
$colour-soft: #999;

// Fonts
$font-primary: "Raleway", sans-serif;
$font-size: em(16);

// Borders
$default-radius: 2px;