body {
	font-family: $font-primary;
	font-size: em(14);
}

h1, h2, h3, h4 {
	color: #000;
	font-weight: 300;
}

h1 {
	font-size: em(30);
}

h2 {
	font-size: em(20);
	font-weight: bold;
	letter-spacing: -1px;
}

a {
	@include transition(color, 0.25s);

	color: $colour-tertiary;
	text-decoration: none;

	&:hover {
		color: darken($colour-tertiary, 25%);
	}
}