body {
	font-family: $font-primary;
	font-size: $font-size;
	line-height: 1.6em;
}

a {
	@include transition(color, 0.15s);

	color: $colour-primary;
	text-decoration: none;

	&:hover {
		color: $colour-secondary;
		text-decoration: none;
	}
}

.soft {
	color: $colour-soft;
}

.field-errors {
	font-size: 0.9em;
	margin-top: 2px;
}

.normalize {
	text-transform: none;
}
