// Global form styles.
input,
textarea,
select {
	border-radius: $default-radius;
	background: #fff;
	border: 1px solid #d5d5d5;
	padding: 8px;
	width: 100%;

	&.invalid {
		border-color: $colour-error;

		&:focus {
			border-color: darken( $colour-error , 15 );
		}
	}
}

// Minor adjustment on the padding on dropdown menus.
select { padding-left: 4px; }


// Restrict textarea resizing.
textarea {
	min-height: 60px;
	resize: none;
	word-wrap: break-word;

	&.short {
		min-height: 37px;
	}
}


// Reset radio and checkbox styles
input[type=checkbox],
input[type=radio] {
	background-color: transparent;
	border: 0;
	margin-right: 6px;
	padding: 0;
	width: 20px;
}
input[type=radio] { margin-right: 3px; }


// Fix label position when preceeded by a checkbox or radio element
input[type=checkbox] + label,
input[type=radio] + label {
	position: relative;
	top: -2px;
}

input[type=file] {
	cursor: pointer;
}


// Form controls.
.control {
	overflow: hidden;
	margin-top: 15px;

	&:first-child { margin-top: 0; }
}

.control-heading {
	border-bottom: 1px solid #d5d5d5;
	margin: 45px 0 25px;
	padding-bottom: 15px;

	&:first-child {
		margin-top: 0;
	}
}

.control-label,
.horizontal .control-label {
	float: left;
	text-align: right;
	display: table;
	min-height: 35px;

	label {
		display: table-cell;
		padding-right: 20px;
		vertical-align: middle;
	}

	form.vertical & {
		min-height: 0;
	}
}

.control-field,
.horizontal .control-field {
	float: right;

	// Override spacing for vertical and horizontal lists inside a control field.
	.vertical, .horizontal { margin: 13px 0 11px; }
	.vertical li { margin-bottom: 5px; }
	.horizontal li { margin-top: -2px; }
}

.horizontal {
	&.control-group {
		li + li {
			label {
				margin-right: 20px;
				position: relative;
				top: 1px;
			}
		}
	}
}

// Vertical form styles. Override the default styles.
.vertical {
	.control { overflow: hidden; }
	.control-label, .control-field {
		float: none;
		padding-right: 0;
		text-align: left;
		width: 100%;
	}
	.control-label { margin-bottom: 4px; }

	// Divs can be nested within vertical arrangements with checkboxes and radio buttons and so need to be aligned correctly
	.checkbox,
	.radio {
		float: left
	}
}

.horizontal.spacious {
	li {
		margin-top: 5px;
	}
	li.checkbox {
		margin-top: 7px;
	}
}


/* Actions styles */
.form-actions {
	margin-top: 45px;

	&.centered { text-align: center; }

	input, a {
		margin-bottom: 10px;
	}
}

/* Change the default focus colours */
input:focus,
textarea:focus,
select:focus {
	border-color: #999;
	outline: none;
}

// For client-side validation errors.
span.error {
	color: $colour-error;
	display: block;
	margin-top: 5px;
	font-size: 0.923em;
}

// Required fields
span.required { color: $colour-error; }

div.disabled,
label.disabled {
	background-color: transparent !important;
}

// Input field placeholders
$colour-placeholder: #999;

::-webkit-input-placeholder { color: $colour-placeholder; }
:-moz-placeholder { color: $colour-placeholder; }
::-moz-placeholder { color: $colour-placeholder; }
:-ms-input-placeholder { color: $colour-placeholder; }

.ie-placeholder-container {
	position: relative;

	.ie-placeholder {
		@include position( absolute , 10px 0 0 10px );
		color: $colour-placeholder;
	}
}

div.field-errors {
	margin-top: 10px;

	.field-error {
		color: $colour-error;
		font-size: 80%;
	}
}